/* stylecb.css */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: black;
    color: black;
}

h2, h3, b {
    color: black;
}

h2 {
    font-size: 28px;
    font-weight: bold;
}

h3 {
    font-size: 24px;
    font-weight: bold;
}

p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.6;
}

b {
    font-weight: bold;
}

